#test div {
	width: 400px;
	height: 110px;
	border: 2px dotted green;
	font-weight: bold;
	background-position: center;
	background-repeat: no-repeat;
}

#test div img {
	width: 209px;
	height: 83px;
	border: 2px dotted red;
	display: block;
	margin: auto;
}

#test div.r1 {
	background-image: url(../images/springsource.png);
}

#test div.a1 {
	background-image: url(/images/springsource.png);
}



